{% extends 'main.html' %}

{% load static %}

{% block content %}



<h1>{{dorms.name}}</h1>
<h4>{{dorms.address}}</h4>
<p>{{dorms.description}}</p>

<hr>


<div class="container">

    <div class="container my-5">
      <h2 id="text2">Reviews</h2>
    </div>

    

      {% for review in dorms.reviews.all %}
          <div class="container p-5 my-5" id="review1">
              <p>
                  <strong>Title: </strong>{{ review.title }},
                  <strong>Quality: </strong>{{ review.rating }},
                  <strong>Date: </strong>{{ review.created|date:"Y-m-d" }},
              </p>
  
              {{ review.body }}
          </div>

      {% empty %}
          <div class="container">
              No reviews yet ...
          </div>
  
      {% endfor %}


</div>

<br>
<hr>
<br>

<!-- write a review -->
<div class="container">
    <form method="post" action=".">
        {% csrf_token %}


        <h2 id="text2">Leave a review</h2>

        <div class="mb-3">
            <input type="text" name="title" class="form-control mt-3" placeholder="Title">
        </div>
        <div class="mb-3">
            <textarea class="form-control" rows="5" name="body" placeholder="Review"></textarea>
        </div>


        <div class="field">
            <label>Quality</label>

            <div class="control">
                <div class="select">
                    <select name="ratings">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button btn btn-success">Submit</button>
            </div>
        </div>

    </form>
</div>




{% endblock content %}