{% extends 'main.html' %}

{% load static %}


{% block content %}

<div>

    <form method="GET" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="Search for your dorm ... " />
    </form>

    <br>



    {% for dorms in dorms %}
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/tj.jpg' %}" class="card-img-top" alt="tj">
        <div class="card-body">
          <h5 class="card-title">{{dorms.name}}</h5>
          <p class="card-text">{{dorms.address}}</p>
          <a href="{% url 'dorms' dorms.id %}" class="btn btn-primary">Review</a>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock content %}