<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MinerDorm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/main.css '%}">   
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
    
</head>
<body class="text-center" data-new-gr-c-s-check-loaded="14.1086.0" data-gr-ext-installed="">

    <div>
        <nav class="navbar navbar-expand-lg navbar-white bg-white static-top">
            <div class="container">
              
              <a class="navbar-brand" href="/">
                <img src="{% static 'images/MinerDorm.png' %}" height="36">
              </a>
            </div>
        </nav>

        <br>
        
        {% if page == 'login' %}
        
        <div>
        
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <form method="POST" action="">
                {% csrf_token %}

                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            
                <div class="form-floating">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
                <br>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">© 2017–2022</p>

                <label>Username:</label>
                <input type="text" name="username" placeholder="Enter Username"/>
          
                <label>Password:</label>
                <input type="password" name="password" placeholder="Enter Password"/>
          
                <input type="submit" value="Login">
            </form>
        
            <p>Haven't signed up yet?</p>
            <a href="{% url 'register' %}">Sign up</a>
        </div>
        
        {% else %}
        
        <div>
            
            <form method="POST" action="">
                {% csrf_token %}

                {{ form.username.label }}
                {{ form.username }}

                {{ form.email.label }}
                {{ form.email }}

                {{ form.password1.label }}
                {{ form.password1 }}

                {{ form.password2.label }}
                {{ form.password2 }}

                <input type="submit" value="Register">
            </form>
        
            <p>Already signed up?</p>
            <a href="{% url 'login' %}">Login</a>
        
        </div>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>


